CLERK_PUBLISHABLE_KEY=pk_test_dmFzdC1yaW5ndGFpbC0xNS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_qc3I6AdKkaTKPKsY4eTHRVKLHI3g8IGE6xbNUPykfn
CLERK_SIGN_IN_URL=/login
CLERK_SIGN_UP_URL=/signup
CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard